.gradient-custom {
   /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, var(--background-color4), var(--background-color5));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, var(--background-color4), var(--background-color5));
}

.btn-custom {
  background-color: transparent;
  border: 1px solid #ffffff; /* Color del borde si es necesario */
  color: #ffffff; /* Color del texto */
}

/* Estilo del botón cuando se pasa el mouse por encima */
.btn-custom:hover {
  background-color: #355c7d;
  color: #ffffff; /* Color del texto en el hover */
}
