<nav >
  <div class="nav nav-tabs container-tabs" id="nav-tab" role="tablist">
    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Crear reservación</button>
    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false" (click)="consultarReservas()">Modificar reservación</button>
    <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false" (click)="consultarReservas()">Eliminar reservación</button>
  </div>
</nav>


<div class="tab-content " id="nav-tabContent">

  <!-- Esta parte es para la de Crear reservación-->
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
    <div class="col-md-7 col-lg-8 container">
      <form (ngSubmit)="crearReserva(fechaingreso, Procedimientos)" #form="ngForm">
        <div class="row g-3">

          <div class="col-12">
            <label for="ingreso">Fecha de ingreso:</label>
            <input type="date" class="form-control" name="ingreso" id="ingreso" [(ngModel)]="fechaingreso" #fecha="ngModel" required>
            <div *ngIf="fecha.invalid && (fecha.dirty || fecha.touched)" class="invalid-feedback">
              La fecha de ingreso es requerida
            </div>
          </div>
        </div>


        <hr class="my-4">

        <div class="col-12">
          <label  class="form-label">Procedimientos Quirúrgicos:</label>
          <div *ngFor="let procedimiento of procedimientos">
            <input class="form-check-input me-2" type="checkbox" id="{{procedimiento.nombre}}" [(ngModel)]="procedimiento.seleccionado" name="procedimientos_{{procedimiento.nombre}}" >
            <label for="{{procedimiento.nombre}}">{{procedimiento.nombre}}</label>
          </div>
        </div>

        <div class="container-btn">
          <button class="btn-custom" type="submit" [disabled]="form.invalid">Reservar</button>
        </div>
      </form>

      <p class="fst-italic text-center">Importante: La reservación se hará sólo si en la fecha indicada existen camas disponibles.</p>

    </div>

  </div>

  <!-- Esta parte es para la de Modificar reservación-->
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">

    <div class="col-md-7 col-lg-8 div-tabla">

      <table class="table table-striped table-bordered rounded-4 text-center-table">
        <thead>
        <tr>
          <th scope="col">Número de reservación</th>
          <th scope="col">Cédula del paciente</th>
          <th scope="col"># de cama</th>
          <th scope="col"># de procedimiento</th>
          <th scope="col">Ingreso</th>
          <th scope="col">Salida</th>
          <th scope="col">Opción</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of data">
          <td>{{ item.idreservacion }}</td>
          <td>{{ item.pacientecedula }}</td>
          <td>{{ item.idcama }}</td>
          <td>{{ item.idproced }}</td>
          <td>{{ item.fechaingreso }}</td>
          <td>{{ item.fechasalida }}</td>
          <td>
            <button type="button" class="btn btn-primary" > <i class="fas fa-pen-to-square"></i></button>
          </td>
        </tr>
        </tbody>
      </table>

    </div>

  </div>

  <!-- Esta parte es para la de Eliminar reservación-->
  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">

    <div class="col-md-7 col-lg-8 div-tabla">

      <table class="table table-striped table-bordered text-center-table">
        <thead>
        <tr>
          <th scope="col">Número de reservación</th>
          <th scope="col">Cédula del paciente</th>
          <th scope="col">Número de cama</th>
          <th scope="col">Número de procedimiento</th>
          <th scope="col">Fecha de ingreso</th>
          <th scope="col">Fecha de fecha de salida</th>
          <th scope="col">Opción</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of data">
          <td>{{ item.idreservacion }}</td>
          <td>{{ item.pacientecedula }}</td>
          <td>{{ item.idcama }}</td>
          <td>{{ item.idproced }}</td>
          <td>{{ item.fechaingreso }}</td>
          <td>{{ item.fechasalida }}</td>
          <td>
            <button type="button" class="btn btn-danger" (click)="eliminarReserva(item.idreservacion)"> <i class="fas fa-solid fa-trash"></i></button>
          </td>
        </tr>
        </tbody>
      </table>

    </div>


  </div>
</div>




