.nav-link{
  --bs-nav-link-hover-color: var(--navbar-light-primary);
  --bs-nav-link-color: var(--navbar-light-primary);
  --bs-nav-tabs-link-active-bg: var(--background-color6);
  --bs-nav-tabs-link-active-border-color: var(--background-color6);
  --bs-nav-tabs-link-hover-border-color: var(--background-color6);


}

table {
  width: 100%;
  border-collapse: collapse;
}


th {
  background-color: #f2f2f2;
  text-align: left;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 2px solid #dc3545;
}


div.invalid-feedback {
  display: block;
  color: #dc3545;
}

.text-center-table th,
.text-center-table td {
  text-align: center;
}

/*Este container es para la informacion de cada opcion */
.container {
  max-width: 900px;
  max-height: 800px;
  background-color: var(--background-color6);
  color: white;
  border-radius: 1rem;
  margin-top: 50px;
}

.div-tabla {
  position: absolute; /* Posiciona el div sobre el contenedor padre */
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  color: white;
  border-radius: 1rem;
  padding: 20px; /* Espacio interior */
  display: flex;
  margin-top: 50px;
  background-color: rgba(0, 0, 0, 0); /* Ejemplo de fondo semi-transparente */
  z-index: 2; /* Asegura que el overlay-div esté sobre el content-div */
}
.table {
  width: auto; /* Ajusta el ancho de la tabla para que no ocupe el 100% del div */
  margin: 0 auto; /* Centra la tabla dentro del div */
}

.container-btn{
  text-align: center;
  padding-bottom: 1rem;
}

.btn-custom {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
  justify-content: center;

  background-color: transparent;
  border: 1px solid #ffffff; /* Color del borde si es necesario */
  color: #ffffff; /* Color del texto */
}

/* Estilo del botón cuando se pasa el mouse por encima */
.btn-custom:hover {
  background-color: #355c7d;
  color: #ffffff; /* Color del texto en el hover */
}
