<div class="container">
  <h1>Equipo de hospitec</h1>
  <div class="contenedorBotones">
    <button class="btn btn-primary" (click)="obtenerEquipo()">
      Mostrar salones
    </button>
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalActualizar" (click)="addRegistro(1)">
      Añadir equipo médico
    </button>
  </div>

  <div class="table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th>id Equipo</th>
        <th>id Cama asociada</th>
        <th>Provedor</th>
        <th>Nombre</th>
        <th>Cantidad</th>
        <th>Modificar</th>
        <th>Eliminar</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let element of dataSource; let i = index">
        <td>{{ element.idEquipo }}</td>
        <td>{{ element.idCama }}</td>
        <td>{{ element.proveedor }}</td>
        <td>{{ element.nombre}}</td>
        <td>{{ element.cantidad }}</td>
        <td><button class="btn btn-primary" (click)="modificarEquipo(i,0)" data-bs-toggle="modal" data-bs-target="#modalActualizar" >Modificar</button></td>
        <td><button class="btn btn-primary" (click)="eliminarEquipo(i)" >Eliminar</button></td>
      </tr>
      </tbody>
    </table>
  </div>
  <!-- LO DE ABAJO ES EL MODAL PARA HACER EL UPDATE Al equipo-->
  <div class="modal fade" id="modalActualizar" tabindex="-1" role="dialog" aria-labelledby="modalAgregarLabel" aria-hidden="false" [class.show]="modalVisible">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalActualizarLabel">Agregar o actualizar camas</h5>
          <button type="button" class="close"  data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- Formulario del MODAL-->
          <div class="form-group">
            <label for="idEquipo">Id del equipo</label>
            <input type="number" class="form-control" id="idEquipo" placeholder="Ingrese un identificador para el equipo"  [value]="idEquipo"  [readonly]="isReadonly">
          </div>
          <div class="form-group">
            <label for="idCama">Id de la cama asociada</label>
            <input type="number" class="form-control" id="idCama" placeholder="Ingrese una cama en la que se encuentra este equipo"  >
          </div>
          <div class="form-group">
            <label for="proovedor">Provedor del equipo</label>
            <input type="text" class="form-control" id="proovedor" placeholder="Ingrese el proovedor">
          </div>
          <div class="form-group">
            <label for="nombre">Nombre del equipo</label>
            <input type="text" class="form-control" id="nombre" placeholder="Ingrese el nombre">
          </div>
          <div class="form-group">
            <label for="cantidad">cantidad</label>
            <input type="number" class="form-control" id="cantidad" placeholder="Ingrese la cantidad">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary"  (click)="guardarCambios()">Guardar Cambios</button>
        </div>
      </div>
    </div>
  </div>
  <!-- ACA EMPIEZA EL MODAL PARA INSERTAR UN NUEVO SALON-->
</div>
