<div class="div-titulo">
  <h1>Historial clínico</h1>
</div>

<div class="div-tabla">

  <table class="table table-striped table-bordered text-center-table">
    <thead>
    <tr>
      <th scope="col">Número de historial</th>
      <th scope="col">Nombre de patología</th>
      <th scope="col">Nombre de procedimiento</th>
      <th scope="col">Nombre del tratamiento</th>
      <th scope="col">Fecha del procedimiento</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of data">
      <td>{{ item.idHistorial }}</td>
      <td>{{ item.nombrePatologia }}</td>
      <td>{{ item.procedNombre }}</td>
      <td>{{ item.nombreTratamiento }}</td>
      <td>{{ item.fechaProcedimiento }}</td>
    </tr>
    </tbody>
  </table>

</div>
