<div class="main-doctor-container">
  <div class= "center-component">
    <h1>Bienvenido Doctor</h1>
    <p>Se encuentra en la página principal</p>
  </div>
  <div class= "content-box to-left">
    <h1>Agregar paciente</h1>
    <p>Permite agregar al sistema a cualquier persona que se haya presentado al centro de salud</p>
    <button class="btn" (click)="navigateToOther(1)"> Ingresar</button>
  </div>
  <div class= "content-box to-right">
    <h1>Agregar Historial Clínico</h1>
    <p>Permite agregar y modificar el historial clínico de un paciente</p>
    <button class="btn" (click)="navigateToOther(2)"> Ingresar</button>
  </div>
</div>


