<div class="container">
  <h1>Evaluación del Servicio Recibido</h1>
  <div class="report">
    <h3>Nombre del servicio</h3>
    <input type="email" id="nombreServicio" class="form-control form-control-lg" [(ngModel)]="nombreServicio" />
  </div>

  <div class="report">
    <h3>Aseo</h3>
    <div class="stars">
      <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
        <i class="bi star" (click)="rateAseo(star)" [ngClass]="{'bi-star-fill': star <= aseo, 'bi-star': star > aseo}"></i>
      </ng-container>
      <span>{{ aseo }} / 5</span>
    </div>
  </div>

  <div class="report">
    <h3>Trato</h3>
    <div class="stars">
      <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
        <i class="bi star" (click)="rateTrato(star)" [ngClass]="{'bi-star-fill': star <= trato, 'bi-star': star > trato}"></i>
      </ng-container>
      <span>{{ trato }} / 5</span>
    </div>
  </div>

  <div class="report">
    <h3>Puntualidad</h3>
    <div class="stars">
      <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
        <i class="bi star" (click)="ratePuntualidad(star)" [ngClass]="{'bi-star-fill': star <= puntualidad, 'bi-star': star > puntualidad}"></i>
      </ng-container>
      <span>{{ puntualidad }} / 5</span>
    </div>
  </div>

  <div class="submit">
    <button (click)="submitRatings(nombreServicio, aseo, trato, puntualidad)">Enviar Calificaciones</button>
  </div>
</div>
